<div class="excel-export-container">
  <div class="export-header">
    <h2>Export Data</h2>
    <p class="description">Export your categorized transactions to Excel</p>
  </div>
  
  <div class="export-content">
    <button 
      class="export-button" 
      [class.success]="copySuccess"
      (click)="copyToClipboard()"
    >
      <span *ngIf="!copySuccess">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="20" fill="currentColor">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
        </svg>
        Copy to Clipboard for Excel
      </span>
      <span *ngIf="copySuccess">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="20" fill="currentColor">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
        </svg>
        Copied to Clipboard!
      </span>
    </button>
    
    <p class="help-text">
      Paste the copied data into your Excel spreadsheet
    </p>
  </div>
</div>
