<div *ngIf="customCategories$ | async as categories" class="categories-container">
  <table class="categories-table">
    <thead>
      <tr>
        <th class="category-column">Category</th>
        <th class="total-column">Total</th>
        <th class="actions-column">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let categoryKey of getCategoryKeys(categories)">
        <tr class="category-row">
          <!-- Category Header -->
          <td>
            <h3>{{ categoryKey }}</h3>
          </td>
          <td class="center-text">
            <span [ngStyle]="{ color: helperService.getCategoryTotal(categories[categoryKey]) > 0 ? 'green' : 'red' }">
              {{ helperService.getCategoryTotal(categories[categoryKey]) | number:'1.2-2' }} PLN
            </span>
          </td>
          <td class="center-text">
            <button (click)="toggleTransactions(categoryKey)">Show details</button>
          </td>
        </tr>
        <tr *ngIf="expandedCategories[categoryKey]">
          <td colspan="3" class="transactions-container">
            <div class="transactions-wrapper">
              <!-- Transactions Table -->
              <table class="transactions-table">
                <thead>
                  <tr>
                    <th class="date-column">Date</th>
                    <th class="type-column">Type</th>
                    <th class="description-column">Description</th>
                    <th class="amount-column">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let transaction of categories[categoryKey]">
                    <td>{{ transaction.date }}</td>
                    <td class="center-text">{{ transaction.type }}</td>
                    <td class="center-text">{{ transaction.description }}</td>
                    <td class="center-text" [ngStyle]="{ color: transaction.amount > 0 ? 'green' : 'red' }">
                      {{ transaction.amount | number:'1.2-2' }} PLN
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>