<div *ngIf="transactions.length > 0">
  <div class="header">
    <h4>{{ title }}</h4>
    <p>Łącznie: <strong>{{ total | price }}</strong></p>
    <button (click)="showOrHideTransactions()">Pokaż szczegóły</button>
  </div>
  <ul *ngIf="showTransactions">
    <li *ngFor="let item of transactions">
      <div class="item">
        <p>{{ item.recipientOrSender }} {{ item.recipientOrSender ? ' - ' : '' }} {{ item.description }}: {{ item.amount }}</p>
        <button *ngFor="let category of customCategories | async" (click)="addToCategory(category, item)">Dodaj do {{ category }}</button>
      </div>
    </li>
  </ul>
</div>